@font-face{
  font-family: 'IRANSans';
  src        :url(font/IRANSansWeb.ttf);
}
*{
  box-sizing : border-box;
  font-family: IRANSans,"Segoe UI",Helvetica,sans-serif;
  margin     : 0;
  padding    : 0;
}
html{
  font-size: 62.5%;
}
body{
  background-color: #00667a;
  color           : #6E6F6F;
  direction       : rtl;
  height          : 2550.25px;
}
div.container{
  position : relative;
  width    : 90%;
  max-width: 1400px;
  min-width: 1024px;
  margin   : 0 auto;
}
header{
  box-shadow      : -2px 0 0 0 #f4f4f5, -6px 0 0 0 #e7a429;
  border-left     : 2px solid #00667a;
  border-right    : 0;
  margin-left     : 6px;
  margin-right    : 0;
  display         : flex;
  background-color: #f4f4f4;
  height          : 90px;
  border-right    : none;
  color           : #6E6F6F;
  font-size       : 11.2px;
}
header h1{
  background-image : url(image/header-rtl.svg);
  background-repeat: no-repeat;
  height           : 90px;
  width            : 260px;
  color            : #2F1515;
  font-size        : 10px;
  padding          : 0 10px 10px;
}
header h1 a{
  display: flex;
}
header h1 a img{
  margin-top: 10px;
  width     : 140px;
  height    : 60px;
  display   : block;
  transition: 0.3s;
}
header h1 span{
  opacity: 0;
}
header div.box-head{
  color    : #6E6F6F;
  font-size: 11.2px;
}
div.box-head nav.nav-top{
  color      : #6E6F6F;
  font-size  : 1.4em;
  padding    : 10px;
  border-top : 2px solid #00667a;
  width      : 1132px;
  display    : flex;
  flex-wrap  : wrap;
  font-weight: normal;background-color: transparent;
}
nav.nav-top div.link1{
  color     : #6E6F6F;
  font-size : 1.4em;
  flex-basis: 0;
  flex-grow : 1;
}
div.link1 a{
  background-color: transparent;
  color           : #aaa;
  cursor          : pointer;
  display         : inline-block;
  text-decoration : none;
  padding         : 6px 1.2em 4px;
  text-align      : center;
  transition      : 0.2s ease-out;
  border-radius   : 0.25rem;
  border          : 1px solid #e2e2e2;
  line-height     : 24px;
  font-weight     : 700;
  overflow-x      : hidden;
  font-size       : 14.112px;
  word-spacing    : 1px;
}
div.link1 a.left{
  margin-left: 9px;
}
div.link1 a.left2{
  margin-left: 8px;
}
div.link1 a.a1{
  word-spacing: 1px;
}
nav.nav-top div.link2{
  color  : #6E6F6F;
}
div.link2 div.enter{
  color           : #F4F4F4;
  font-size       : 0.9em;
  background-color: #37AAA7;
  padding         : 6.8px 1.3em 5px 1.2em;
  font-weight     : 700;
  cursor          : pointer;
  border-radius   : 0.25rem;
  display         : inline-block;
  line-height     : 24px;
}
div.link2 div.lang{
  color           : rgba(0, 0, 0, 0.5);
  font-size       : 0.9em;
  background-color: #E2E2E2;
  margin          : 0 6px 0 0;
  padding         : 6px 1.2em 5px 1.2em;
  font-weight     : 700;
  cursor          : pointer;
  border-radius   : 0.25rem;
  display         : inline-block;
  line-height     : 24px;
}
div.link2 div.lang span{
  padding: 2px 1px 2px 8px;
}
div.all{
  box-shadow      : 0 2px 0 2px #f4f4f5, 0 6px 0 6px #e7a429;
  border-right    : 2px solid #00667a;
  margin-right    : 6px;
  border-left     : 2px solid #00667a;
  max-width       : 1388px;
}
div.section1{
  padding         : 0 50px;
  background-color: #f4f4f4;
  height          : 239.98px;
  border-bottom   : none;
  text-align      : center;
}
div.section1 h2{
  color       : #00667A;
  padding     : 1.04em 0 0;
  font-weight : 700;
  line-height : 1.5;
  font-size   : 2.0em;
  word-spacing: 1.5px;
}
div.section1 p{
  line-height     : 2.5em;
  font-weight     : 700;
  color           : #666;
  margin          : 16px auto 16.8px;
  font-size       : 1.5em;
  background-color: transparent;
  width           : 632px;
  word-spacing    : 1.1px;
}
div.section1 a{
  font-size       : 20px;
  line-height     : 2.2;
  position        : relative;
  overflow        : visible;
  display         : inline-block;
  height          : 41px;
  margin          : 3px 9px;
  padding         : 0 25px;
  cursor          : pointer;
  transition      : 0.3s;
  color           : #f6f6e6;
  border          : none;
  border-radius   : 15px;
  background-color: #37aaa7;
}
div.section1 a:before{
  position         : absolute;
  top              : -3px;
  width            : 22px;
  height           : 47px;
  content          : '';
  background-image : url(image/special-btn.svg);
  background-repeat: no-repeat;
  transform        : rotate(180deg);
  margin-right     : -33px;
}
div.section1 a:after{
  position         : absolute;
  top              : -3px;
  width            : 33px;
  height           : 47px;
  content          : '';
  background-image : url(image/special-btn.svg);
  background-repeat: no-repeat;
}
div.section2{
  padding         : 50px 0;
  background-color: #fcfcfc;
}
div.section2 div.row1{
  display       : flex;
  flex-direction: row-reverse;
  align-items   : center;
  width         : 65%;
  margin        : 0 auto;
}
div.row1 a{
  width           : 100%;
  max-width       : 220px;
  height          : auto;
  display         : block;
  position        : relative;
  min-height      : 1px;
  background-color: transparent;
  text-decoration : none;
  color           : #54b4ef;
  transition      : color 0.3s;
}
div.row1 a img{
  display   : block;
  filter    : grayscale(100%);
  transition: 0.7s;
}
div.row1:hover a img{
  filter: none;
}
div.row1 div.text{
  margin-left : 50px;
  margin-right: 0;
  text-align  : right;
  flex-basis  : 0;
  flex-grow   : 1;
  max-width   : 100%;
  position    : relative;
  width       : 100%;
  min-height  : 1px;
}
div.row1 div.text h3{
  line-height  : 1.5;
  font-size    : 1.8em;
  clear        : both;
  margin-bottom: 19px;
  font-weight  : 400;
  color        : #2f1515;
}
div.row1 div.text h3 a{
  color           : #0c7c78;
  font-weight     : bold;;
  background-color: transparent;
  word-spacing    : 1.5px;
}
div.row1 div.text p{
  margin-bottom: 0;
  color        : #adadad;
  line-height  : 2.2em;
  font-size    : 1.5em;
}
div.section2 div.row2{
  display       : flex;
  flex-direction: row;
  align-items   : center;
  width         : 65%;
  margin        : 0 auto;
}
div.row2 a{
  width           : 100%;
  max-width       : 220px;
  height          : auto;
  display         : block;
  position        : relative;
  min-height      : 1px;
  background-color: transparent;
  text-decoration : none;
  color           : #54b4ef;
  transition      : color 0.3s;
}
div.row2 a img{
  display   : block;
  filter    : grayscale(100%);
  transition: 0.7s;
}
div.row2:hover a img{
  filter: none;
}
div.row2 div.text{
  margin-right: 50px;
  margin-left : 0;
  text-align  : right;
  flex-basis  : 0;
  flex-grow   : 1;
  max-width   : 100%;
  position    : relative;
  width       : 100%;
  min-height  : 1px;
}
div.row2 div.text h3{
  line-height  : 1.5;
  font-size    : 1.8em;
  clear        : both;
  margin-bottom: 19px;
  font-weight  : 400;
  color        : #2f1515;
}
div.row2 div.text h3 a{
  color           : #0c7c78;
  font-weight     : bold;;
  background-color: transparent;
  word-spacing    : 1.5px;
  max-width       : 227px;
}
div.row2 div.text p{
  margin-bottom: 0;
  color        : #adadad;
  line-height  : 2.2em;
  font-size    : 1.5em;
}
div.section2 div.row3{
  display       : flex;
  flex-direction: row-reverse;
  align-items   : center;
  width         : 65%;
  margin        : 0 auto;
}
div.row3 a{
  width           : 100%;
  max-width       : 220px;
  height          : auto;
  display         : block;
  position        : relative;
  min-height      : 1px;
  background-color: transparent;
  text-decoration : none;
  color           : #54b4ef;
  transition      : color 0.3s;
}
div.row3 a img{
  display   : block;
  filter    : grayscale(100%);
  transition: 0.7s;
}
div.row3:hover a img{
  filter: none;
}
div.row3 div.text{
  margin-left : 50px;
  margin-right: 0;
  text-align  : right;
  flex-basis  : 0;
  flex-grow   : 1;
  max-width   : 100%;
  position    : relative;
  width       : 100%;
  min-height  : 1px;
}
div.row3 div.text h3{
  line-height  : 1.5;
  font-size    : 1.8em;
  clear        : both;
  margin-bottom: 19px;
  font-weight  : 400;
  color        : #2f1515;
}
div.row3 div.text h3 a{
  color           : #0c7c78;
  font-weight     : bold;;
  background-color: transparent;
  word-spacing    : 1.5px;
}
div.row3 div.text p{
  margin-bottom: -2px;
  color        : #adadad;
  line-height  : 2.2em;
  font-size    : 1.5em;
}
div.section2 div.row4{
  display       : flex;
  flex-direction: row;
  align-items   : center;
  width         : 65%;
  margin        : 0 auto;
}
div.row4 a{
  width           : 100%;
  max-width       : 220px;
  height          : auto;
  display         : block;
  position        : relative;
  min-height      : 1px;
  background-color: transparent;
  text-decoration : none;
  color           : #54b4ef;
  transition      : color 0.3s;
}
div.row4 a img{
  display   : block;
  filter    : grayscale(100%);
  transition: 0.7s;
}
div.row4:hover a img{
  filter: none;
}
div.row4 div.text{
  margin-right: 50px;
  margin-left : 0;
  text-align  : right;
  flex-basis  : 0;
  flex-grow   : 1;
  max-width   : 100%;
  position    : relative;
  width       : 100%;
  min-height  : 1px;
}
div.row4 div.text h3{
  line-height  : 1.5;
  font-size    : 1.8em;
  clear        : both;
  margin-bottom: 19px;
  font-weight  : 400;
  color        : #2f1515;
}
div.row4 div.text h3 a{
  color           : #0c7c78;
  font-weight     : bold;;
  background-color: transparent;
  word-spacing    : 1.5px;
  max-width       : 300px;
}
div.row4 div.text p{
  margin-bottom: -1px;
  color        : #adadad;
  line-height  : 2.2em;
  font-size    : 1.5em;
}
div.section3{
  display  : flex;
  padding  : 50px;
  flex-wrap: wrap;
  background-color: #f4f4f4;
}
div.section3 div.col1{
  text-align: center;
  max-width : 33.333333%;
  flex-basis: 0;
  flex-grow : 1;
  position  : relative;
  min-height: 1px;
}
div.col1 a{
  display         : block;
  background-color: transparent;
  color           : #54b4ef;
  transition      : color 0.3s;
}
div.col1 a img{
  width     : 60%;
  max-width : 250px;
  margin    : 0 auto 2em;
  display   : block;
  filter    : grayscale(100%);
  transition: 0.7s;
}
div.col1:hover a img{
  filter: none;
}
div.col1 h4{
  font-size    : 1.8em;
  line-height  : 1.5;
  font-weight  : 400;
  margin-top   : 23px;
  margin-bottom: 19px;
  color        : #2f1515;
}
div.col1 h4 a{
  color       : #0c7c78;
  display     : block;
  font-weight : bold;
  word-spacing: 1px;
}
div.col1 p{
  width      : 85%;
  margin     : 0 auto;
  color      : #aaa;
  font-size  : 1.4em;
  line-height: 2.2em;
}
div.section3 div.col2{
  text-align: center;
  max-width : 33.333333%;
  flex-basis: 0;
  flex-grow : 1;
  position  : relative;
  min-height: 1px;
}
div.col2 a{
  display         : block;
  background-color: transparent;
  color           : #54b4ef;
  transition      : color 0.3s;
}
div.col2 a img{
  width     : 60%;
  max-width : 250px;
  margin    : 0 auto 2em;
  display   : block;
  filter    : grayscale(100%);
  transition: 0.7s;
}
div.col2:hover a img{
  filter: none;
}
div.col2 h4{
  font-size    : 1.8em;
  line-height  : 1.5;
  font-weight  : 400;
  margin-top   : 23px;
  margin-bottom: 19px;
  color        : #2f1515;
}
div.col2 h4 a{
  color       : #0c7c78;
  display     : block;
  font-weight : bold;
  word-spacing: 1px;
}
div.col2 p{
  width      : 85%;
  margin     : 0 auto;
  color      : #aaa;
  font-size  : 1.4em;
  line-height: 2.2em;
}
div.section3 div.col3{
  text-align: center;
  max-width : 33.333333%;
  flex-basis: 0;
  flex-grow : 1;
  position  : relative;
  min-height: 1px;
}
div.col3 a{
  display         : block;
  background-color: transparent;
  color           : #54b4ef;
  transition      : color 0.3s;
}
div.col3 a img{
  width     : 60%;
  max-width : 250px;
  margin    : 0 auto 2em;
  display   : block;
  filter    : grayscale(100%);
  transition: 0.7s;
}
div.col3:hover a img{
  filter: none;
}
div.col3 h4{
  font-size    : 1.8em;
  line-height  : 1.5;
  font-weight  : 400;
  margin-top   : 23px;
  margin-bottom: 19px;
  color        : #2f1515;
}
div.col3 h4 a{
  color       : #0c7c78;
  display     : block;
  font-weight : bold;
  word-spacing: 1px;
}
div.col3 p{
  width      : 85%;
  margin     : 0 auto;
  color      : #aaa;
  font-size  : 1.4em;
  line-height: 2.2em;
}
div.section4{
  position        : relative;
  z-index         : 1;
  height          : 200px;
  text-align      : center;
  background-color: #522;
  align-items     : center;
  justify-content : center;
  display         : flex;
}
div.section4 div.left{
  background-image : url(image/inestimable-left-img.svg);
  position         : absolute;
  top              : 0;
  bottom           : 0;
  left             : 0;
  width            : 110px;
  height           : 200px;
  background-color : transparent;
  background-repeat: no-repeat;
}
div.section4 div.right{
  background-image : url(image/inestimable-right-img.svg);
  position         : absolute;
  top              : 0;
  bottom           : 0;
  right            : 0;
  width            : 110px;
  height           : 200px;
  background-color : transparent;
  background-repeat: no-repeat;
}
div.section4 div.box-down{
  display: inline-flex;
}
div.box-down img{
  display   : block;
  height    : 150px;
  transition: 0.7s;
  filter    : grayscale(90%);
  transform : scaleX(-1);
}
div.box-down div.text{
  margin-right   : 5rem;
  margin-left    : 0;
  align-items    : flex-start;
  justify-content: space-between;
  flex-direction : column;
  display        : flex;
}
div.box-down div.text h3{
  margin-bottom: 0;
  margin-top: 1px;
  color        : #f4f4f4;
  font-weight  : 700;
  line-height  : 1.5;
  font-size    : 1.8em;
  clear        : both;
  word-spacing : 1.5px;
}
div.box-down div.text h4{
  margin-bottom: 0;
  color        : #f4f4f4;
  line-height  : 1.5;
  font-size    : 1.7em;
  clear        : both;
  font-weight: normal;
}
div.section4 a{
  font-size       : 20px;
  line-height     : 2.2;
  position        : relative;
  overflow        : visible;
  display         : inline-block;
  height          : 41px;
  margin          : 3px 9px;
  padding         : 0 25px;
  cursor          : pointer;
  transition      : 0.3s;
  color           : #f6f6e6;
  border          : none;
  border-radius   : 15px;
  background-color: #37aaa7;
}
div.section4 a:before{
  position         : absolute;
  top              : -3px;
  width            : 22px;
  height           : 47px;
  content          : '';
  background-image : url(image/special-btn.svg);
  background-repeat: no-repeat;
  transform        : rotate(180deg);
  margin-right     : -33px;
}
div.section4 a:after{
  position         : absolute;
  top              : -3px;
  width            : 33px;
  height           : 47px;
  content          : '';
  background-image : url(image/special-btn.svg);
  background-repeat: no-repeat;
}
div.section4:hover img{
  filter: none;
}
footer{
  margin-top      : -2px;
  position        : relative;
  padding-top     : 20px;
  border-top      : 2px solid #00667a;
  background-color: #033944;
  box-shadow      : 0 -2px 0 0 #f4f4f5, 0 -6px 0 0 #e7a429;
  width           : 100%;
  height          : 465.13px;
}
div.box-footer{
  padding   : 0 2%;
  max-width : 1400px;
  min-width : 1024px;
  position  : relative;
  margin    : 0 auto;
  width     : 90%;
  min-height: 1px;
}
div.box-footer nav.footer{
  border-bottom: 1px solid #e5a428;
  font-size    : 1.6em;
  font-weight  : 900;
  position     : relative;
  display      : flex;
  flex-wrap    : wrap;
}
nav.footer a{
  font-size: 100%;
  margin-right: 0;
  margin-left : 1.5em;
  display     : inline-block;
  padding     : 1.3em 0.5em 1.1em 0.5em;
  color       : #aaa;
  flex        : 0 0 auto;
  width       : auto;
  position    : relative;
  min-height  : 1px;
  transition  : color 0.3s;
  word-spacing: 1.5px;
}
nav.footer a.gol{
  right    : auto;
  left     : 0;
  position : absolute;
  bottom   : 0;
  height   : 100%;
  width    : auto;
  display  : inline-block;
  color    : #aaa;
  font-size: 100%;
  margin   : 0;
  padding  : 0;
}
nav.footer a.gol img{
  height     : 100%;
  padding-top: 5px;
  filter     : grayscale(100%);
  transition : 0.7s;
  max-width  : 100%;
  max-height : 100%;
}
div.footer{
  font-size    : 1.4em;
  border-bottom: 1px solid #e5a428;
  padding      : 2em 0 31px 0;
  display      : flex;
  flex-wrap    : wrap;
  font-weight  : normal;
}
div.footer nav{
  flex-basis: 0;
  flex-grow : 1;
  max-width : 100%;
  position  : relative;
  min-height: 1px;
}
div.footer nav.nesh a{
  display         : block;
  max-width       : 90px;
  color           : #888;
  padding         : 3px 0;
  background-color: transparent;
  transition      : color 0.3s;
}
div.footer nav.nesh a div{
  height           : 4px;
  background-repeat: repeat-x;
  background-image : url(image/enamad.svg);
}
div.footer nav.nesh a div:last-of-type{
  transform: rotate(180deg);
}
div.footer nav.nesh a img{
  display         : block;
  max-width       : 113.56px;
  background-color: #eaeae9;
  padding         : 0.5em 0;
  width           : 100%;
}
div.footer nav.nesh a img:last-of-type{
  max-width: 105.66px;
  padding  : 9px 0 8px 0;
}
div.footer nav.hem h4{
  font-weight  : 500;
  color        : #aaa;
  margin-top   : 1px;
  margin-bottom: 4px;
  font-size    : 1.1em;
  line-height  : 1.5;
  clear        : both;
}
div.footer nav.hem ul{
  line-height: 2em;
  list-style : none inline none;
}
div.footer nav.hem a{
  color           : #888;
  padding         : 3px 0;
  display         : inline-block;
  background-color: transparent;
}
div.footer nav.bish h4{
  font-weight  : 500;
  color        : #aaa;
  margin-top   : 1px;
  margin-bottom: 4px;
  font-size    : 1.1em;
  line-height  : 1.5;
  clear        : both;
  word-spacing : 1px;
}
div.footer nav.bish ul{
  line-height: 2em;
  list-style : none inline none;
}
div.footer nav.bish a{
  color           : #888;
  padding         : 3px 0;
  display         : inline-block;
  background-color: transparent;
}
div.footer nav.pos h4{
  font-weight  : 500;
  color        : #aaa;
  margin-top   : 1px;
  margin-bottom: 4px;
  font-size    : 1.1em;
  line-height  : 1.5;
  clear        : both;
  word-spacing : 1px;
}
div.footer nav.pos ul{
  line-height: 2em;
  list-style : none inline none;
}
div.footer nav.pos a{
  color           : #888;
  padding         : 3px 0;
  display         : inline-block;
  background-color: transparent;
}
div.footer nav.nav nav{
  display         : block;
  font-size       : 100%;
  font-weight     : normal;
  background-color: transparent;
  margin-top      : 1px;
}
div.footer nav.nav a{
  margin-bottom   : 0.2em;
  padding         : 0px 0;
  display         : inline-block;
  margin-right    : 0;
  margin-left     : 0.3em;
  background-color: rgba(0, 0, 0, 0.1);
  width           : 2.2em;
  height          : 2.2em;
  line-height     : 2.2em;
  text-align      : center;
  color           : #fff;
  transition      : 0.3s ease;
  border-radius   : 2px;
}
div.end-footer{
  flex-direction : row;
  font-size      : 1.2em;
  padding        : 2em 0 1.9em 0;
  color          : #aaa;
  justify-content: space-between;
  display        : flex;
}
div.english a{
  background-color: rgba(0,0,0,0.1);
  color           : #aaa;
  padding         : 0.5em 1em;
  display         : inline-block;
  transition      : .3s;
  border-radius   : 2px;
}
div.ir{
  padding: 7px 0 6px;
}
div.ir a{
  color: #bbb;
}
@media all and (min-width: 1400px){
  html{
    font-size: 70%;
  }
  .container{
    max-width: 1400px;
    min-width: 1024px;
  }
}
@media all and (min-width: 768px){
  .all{
    margin-left       :6px;
    -webkit-box-shadow:0 2px 0 2px #f4f4f5,0 6px 0 6px #e7a429;
    -moz-box-shadow   :0 2px 0 2px #f4f4f5,0 6px 0 6px #e7a429;
    box-shadow        :0 2px 0 2px #f4f4f5,0 6px 0 6px #e7a429;
    border-right      :2px solid #00667a;
    margin-right      :6px;
    border-left       :2px solid #00667a;
  }

  header{
  -webkit-box-shadow:-2px 0 0 0 #f4f4f5,-6px 0 0 0 #e7a429;
  -moz-box-shadow   :-2px 0 0 0 #f4f4f5,-6px 0 0 0 #e7a429;
  box-shadow        :-2px 0 0 0 #f4f4f5,-6px 0 0 0 #e7a429;
  border-left       :2px solid #00667a;
  margin-left       :6px;
  margin-right      :0;
  border-right      :0;
}
}
@media all and (min-width: 768px) and (max-width: 959px){
  html{
    font-size: 60%;
  }
  .all{
    max-width:940px;
    min-width:710px;
  }
}


































/*@media screen and (min-width: 1687px){
  div.link2 div.lang{
    padding     : 6px 1.2em 6px 1.25em;
    margin-right: 4px;
  }
  div.link2 div.enter{
    padding: 6.8px 1.3em 6px 1.3em;
  }
  div.link1 a{
    padding: 6px 1.2em 5px;
  }
  div.section1{
    height: 238.98px;
  }
  div.row1 div.text p{
    margin-bottom: -2px;
  }
  div.row2 div.text p{
    margin-bottom: -2px;
  }
  div.col1 h4{
    margin-top: 23.5px;
  }
  div.col2 h4{
    margin-top: 23.5px;
  }
  div.col3 h4{
    margin-top: 23.5px;
  }
  div.box-down img{
    margin-top: 1px;
  }
  div.box-down div.text h3{
    margin-top: 2px;
  }
  div.box-down div.text h4{
    margin-top: -20px;
  }
  div.box-down div.text a{
    margin-top: -15px;
  }
  nav.footer a{
    padding: 1.3em 0.5em 1.15em 0.5em;
  }
  footer{
    height: 464.59px;
  }
  nav.footer a.gol img{
    padding-top: 6px;
  }
  div.footer{
    padding: 30px 0 30px
  }
  div.footer nav.nesh a img{
    padding: 0.48em 0;
  }
  div.footer nav.nesh a img:last-of-type {
    padding: 8px 0 8.5px 0;
  }
  div.footer nav.nesh a div{
    margin-bottom: 1px;
  }
  div.footer nav.hem{
    margin-top: 1px;
  }
  div.footer nav.bish{
    margin-top: 1px;
  }
  div.footer nav.pos{
    margin-top: 1px;
  }
  div.ir{
    padding: 6.5px 0 6px;
  }
}
@media screen and (min-width: 1484px){
  div.all{
    max-width: 1324.31px;
    min-height: 1320.31
  }
  header h1{
    min-height: 90px;
    min-width : 260px;
  }
  div.box-head nav.nav-top{
    width: 1068.31px;
  }
  div.link2 div.lang{
    padding: 6px 1.25em 5px 1.2em;
    margin : 0 5px 0 0;
  }
  div.link2 div.enter{
    padding: 6.8px 1.3em 5px 1.25em;
  }
  div.section1 p{
    margin: 17px auto 16.8px;
  }
  div.section1 a{
    margin: 2px 9px 3px 9px;
  }
  div.row1 div.text p{
    margin-bottom: -1px;
  }
  div.row3 div.text h3{
    margin-bottom: 19px;
  }
  div.row3 div.text p{
    margin-bottom: -1px;
  }
  div.row3 a{
    max-height: 232.46px;
  }
  div.row3{
    max-height: 232px;
  }
  div.row4 a img{
    min-height: 230.26px;
  }
  div.row4 div.text p{
    margin-bottom: -1px;
  }
  div.col1 h4{
    margin-top: 23.5px
  }
  div.col2 h4{
    margin-top: 23.5px
  }
  div.col3 h4{
    margin-top: 23.5px
  }
  div.section3{
    height: 522px;
  }
  footer{
    height: 465.3px;
  }
  div.box-down div.text h4{
    margin-top: -1px;
  }

}*/